<div class="container">
    <form action="" class="w-75 mx-auto py-5" (ngSubmit)="handleRegister()" [formGroup]="registerform">
    <p class="text-capitalize fs-3">register now:</p>
    <label for="" class="text-capitalize" >name:</label>
    <input type="text" class="form-control mb-1" formControlName="name">
    <div class="alert alert-danger" *ngIf="registerform.get('name')?.touched && registerform.get('name')?.status=='INVALID'">
        <p *ngIf="registerform.get('name')?.getError('required')">user name is required</p>
        <p *ngIf="registerform.get('name')?.getError('pattern')">user name must start with capital letter</p>
        <p *ngIf="registerform.get('name')?.getError('minlength')">min-length 3 letter</p>
        <p *ngIf="registerform.get('name')?.getError('maxlength')">max-length 8 letter</p>
    </div>
    <label for="" class="text-capitalize ">email:</label>
    <input type="email" class="form-control mb-1" formControlName="email">

    <div class="alert alert-danger" *ngIf="registerform.get('email')?.touched && registerform.get('email')?.status=='INVALID'">
        <p *ngIf="registerform.get('email')?.getError('required')">email is required</p>
        <p *ngIf="registerform.get('email')?.getError('required')">need email syntax</p>
    </div>

    
    <label for="" class="text-capitalize">password:</label>
    <input type="password" class="form-control mb-1" formControlName="password">

    <div class="alert alert-danger" *ngIf="registerform.get('password')?.touched && registerform.get('password')?.status=='INVALID'">
        <p *ngIf="registerform.get('password')?.getError('required')">password is required</p>
    </div>

    <label for="" class="text-capitalize">repassword:</label>
    <input type="password" class="form-control mb-1" formControlName="rePassword">

        <div class="alert alert-danger" *ngIf="registerform.get('rePassword')?.touched && registerform.get('rePassword')?.status=='INVALID'">
        <p *ngIf="registerform.get('rePassword')?.getError('required')">repassword is required</p>
    </div>

    <label for="" class="text-capitalize ">phone:</label>
    <input type="tel" class="form-control mb-1"formControlName="phone">

    <div class="alert alert-danger" *ngIf="registerform.get('phone')?.touched && registerform.get('phone')?.status=='INVALID'">
        <p *ngIf="registerform.get('phone')?.getError('required')">phone is required</p>
    </div>

    <button type="submit" class="btn mt-3  d-block ms-auto text-capitalize text-white" >register</button>
</form>
</div>
