<div class="bg py-5">
<div class="container text-capitalize">
<div class="x py-4">
<p class=" fs-4 text-light-dark">get the fresh cart app </p>
<p class=" fs-6 text-secondary">we will send you alink, ioen it on your phone to download the app.</p>
<div class="d-flex justify-content-center gap-3 align-items-center">
<input type="text" placeholder="Email" class="text-light-secondary form-control">
<button class="text-capitalize btn  text-white ">share app link</button>
</div>
</div>
<!-- <div class="d-flex text-capitalize py-3 text-secondary justify-content-between align-items-center">
<div>
<p>payment partener</p>
</div>
<div>
<p>get deliveries with freshCart</p>
</div>
</div> -->
</div>
</div>
