nav{
    z-index: 999;
}

.text-green{
    color: var(--green);
}
.bg-gray{
background-color: var(--lightGray);
}
.social{
    margin-top: 1.5rem;
}
img{
    margin-bottom: 10px;
}
/* position-absolute top-0 end-0 */
.pos-budge{
    position: absolute;
    top: -8px;
    right: -8px;
}
@media screen and (max-width:990px){
   .pos-budge{
    left:28px;
    width: fit-content;
   }
    
}